/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.state-icon-sml {
    width: 32px;
    height: 32px;
    margin: 0 5px 0 0;
}
